table thead tr {
    background-color: #06b70b;
    color: white;
    margin-top: 100px;
  }
  
  table thead tr th {
    width: 150px;
    text-align: center;
  }

  table {
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    width: 150%;
    border-collapse: separate;
  
  }
  
  table tbody :hover {
    color: green;
    transform: translateX(1%);
  }
  
  td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  tr:first-child th:first-child {
    border-top-left-radius: 150px;
  }
  
  tr:first-child th:last-child {
    border-bottom-right-radius: 150px;
  }
  